.background-color-main {
	background-color: rgba(250, 198, 99, 0.1);
}
.page-paw {
	position: relative;
	left: 79%;
	margin-top: 9px;
}
.container-why-us {
	margin-top: -233px;
	margin-left: 98px;
	margin-right: 98px;
}
.container-title {
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 43px;
	margin-bottom: 70px;
	display: flex;
	justify-content: center;
}
.card-group {
	display: grid;
	grid-template-rows: repeat(2, auto);
	grid-template-columns:repeat(3, 1fr);
	grid-gap: 20px 30px;
	position: relative;
	z-index: 1;
}
.card {
	display: grid;
	grid-template-rows: 106px 30px 120px;
	grid-gap: 20px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
	padding: 30px;
}
.circle {
	width: 91px;
	height: 91px;
	border-radius: 50%;
	background: rgb(250, 198, 99);
	display: flex;
	justify-content: center;
	align-items: center;
}
.card-title {
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 140%;
}
.card-description {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 140%;
}